.register__form-input {
  border: none;
  padding-bottom: 13px;
  border-bottom: 2px solid #E5E5E5;
  background: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 30px;
}

.register__form-input:focus {
  outline: none;
}

.register__form-input:last-of-type {
  margin-bottom: 216px;
}

.register__form-input::placeholder {
  color: #ccc;
  font-size: 14px;
  line-height: 1.1;
}

@media screen and (max-width: 558px) {
  .register__form-input:last-of-type {
    margin-bottom: 173px;
  }
}